/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

/* Container */
.app-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  color: white;
}

/* Sections */
main section {
  margin-bottom: 3rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

section p,
section ul {
  font-size: 1rem;
  color: #00BFFF;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

/* Projects */
.project {
  margin-bottom: 2rem;
}

.project h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: white;
}

.project a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

/* Contact Links */
.contact ul li a {
  color: #0077cc;
  text-decoration: none;
}

.contact ul li a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 0;
  color: white;
}
